<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Koral.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>95C170AEBBD97FB957B549FD52E50D542076A793</string>
				<key>dateExpires</key>
				<string>2022. 05. 11.</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>95C170AEBBD97FB957B549FD52E50D542076A793</string>
						<key>dateExpires</key>
						<string>2022. 05. 11.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QH3TXH9YR6</string>
						<key>name</key>
						<string>Norbert Bochkoi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>95C170AEBBD97FB957B549FD52E50D542076A793</string>
						<key>dateExpires</key>
						<string>2022. 05. 11.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QH3TXH9YR6</string>
						<key>name</key>
						<string>Norbert Bochkoi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>95C170AEBBD97FB957B549FD52E50D542076A793</string>
						<key>dateExpires</key>
						<string>2022. 05. 11.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QH3TXH9YR6</string>
						<key>name</key>
						<string>Norbert Bochkoi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>95C170AEBBD97FB957B549FD52E50D542076A793</string>
						<key>dateExpires</key>
						<string>2022. 05. 11.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QH3TXH9YR6</string>
						<key>name</key>
						<string>Norbert Bochkoi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>95C170AEBBD97FB957B549FD52E50D542076A793</string>
						<key>dateExpires</key>
						<string>2022. 05. 11.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QH3TXH9YR6</string>
						<key>name</key>
						<string>Norbert Bochkoi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>95C170AEBBD97FB957B549FD52E50D542076A793</string>
						<key>dateExpires</key>
						<string>2022. 05. 11.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QH3TXH9YR6</string>
						<key>name</key>
						<string>Norbert Bochkoi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>95C170AEBBD97FB957B549FD52E50D542076A793</string>
						<key>dateExpires</key>
						<string>2022. 05. 11.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QH3TXH9YR6</string>
						<key>name</key>
						<string>Norbert Bochkoi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>95C170AEBBD97FB957B549FD52E50D542076A793</string>
						<key>dateExpires</key>
						<string>2022. 05. 11.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>HGCircularSlider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QH3TXH9YR6</string>
						<key>name</key>
						<string>Norbert Bochkoi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>95C170AEBBD97FB957B549FD52E50D542076A793</string>
						<key>dateExpires</key>
						<string>2022. 05. 11.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Hero.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QH3TXH9YR6</string>
						<key>name</key>
						<string>Norbert Bochkoi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>95C170AEBBD97FB957B549FD52E50D542076A793</string>
						<key>dateExpires</key>
						<string>2022. 05. 11.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JTAppleCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QH3TXH9YR6</string>
						<key>name</key>
						<string>Norbert Bochkoi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>95C170AEBBD97FB957B549FD52E50D542076A793</string>
						<key>dateExpires</key>
						<string>2022. 05. 11.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PhoneNumberKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QH3TXH9YR6</string>
						<key>name</key>
						<string>Norbert Bochkoi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>95C170AEBBD97FB957B549FD52E50D542076A793</string>
						<key>dateExpires</key>
						<string>2022. 05. 11.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RangeSeekSlider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QH3TXH9YR6</string>
						<key>name</key>
						<string>Norbert Bochkoi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>95C170AEBBD97FB957B549FD52E50D542076A793</string>
						<key>dateExpires</key>
						<string>2022. 05. 11.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QH3TXH9YR6</string>
						<key>name</key>
						<string>Norbert Bochkoi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>95C170AEBBD97FB957B549FD52E50D542076A793</string>
						<key>dateExpires</key>
						<string>2022. 05. 11.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SkeletonView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QH3TXH9YR6</string>
						<key>name</key>
						<string>Norbert Bochkoi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>95C170AEBBD97FB957B549FD52E50D542076A793</string>
						<key>dateExpires</key>
						<string>2022. 05. 11.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftKeychainWrapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QH3TXH9YR6</string>
						<key>name</key>
						<string>Norbert Bochkoi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>95C170AEBBD97FB957B549FD52E50D542076A793</string>
						<key>dateExpires</key>
						<string>2022. 05. 11.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QH3TXH9YR6</string>
						<key>name</key>
						<string>Norbert Bochkoi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>95C170AEBBD97FB957B549FD52E50D542076A793</string>
						<key>dateExpires</key>
						<string>2022. 05. 11.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QH3TXH9YR6</string>
						<key>name</key>
						<string>Norbert Bochkoi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>95C170AEBBD97FB957B549FD52E50D542076A793</string>
						<key>dateExpires</key>
						<string>2022. 05. 11.</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>QH3TXH9YR6.ua.freedom.Koral.NotificationService</string>
						<key>aps-environment</key>
						<string>production</string>
						<key>com.apple.developer.team-identifier</key>
						<string>QH3TXH9YR6</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.ua.freedom.Koral</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>NotificationService.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>cf16ea72-ba6d-439d-836b-0cc1134d225b</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: ua.freedom.Koral.NotificationService</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QH3TXH9YR6</string>
						<key>name</key>
						<string>Norbert Bochkoi</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>QH3TXH9YR6.ua.freedom.Koral</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:complete-road-265016.appspot.com</string>
					<string>applinks:koralapp.page.link</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>QH3TXH9YR6</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.ua.freedom.Koral</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Koral.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>229972ba-6306-4203-a965-ccb267d5c990</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: ua.freedom.Koral</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QH3TXH9YR6</string>
				<key>name</key>
				<string>Norbert Bochkoi</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
